body {
  background-color: #F2F2F2;
  font-family: "Avenir Next", "Avenir", "Lato", "Helvetica", "Arial", "Sans-Serif";
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #00B2FF;
}

.navbar {
  position: fixed;
  z-index: 1;
  background-color: #F2F2F2;
  width: 100%;
  overflow: hidden;
}

.content {
  width: calc(100% - 3.75rem);
  margin: 0 1.875rem;
  padding-top: 70px;
  background-color: white;
  display: block;
}

.article {
  padding: 40px 1.875rem;
  max-width: 650px;
}

.author {
  position: relative;
  display: inline-block;
  width: 50%;
}

.authorInit {
  background-color: #F2F2F2;
  color: grey;
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#name {
  position: absolute;
  font-weight: bold;
  top: 5px;
  left: 52px;
}

#date {
  position: absolute;
  bottom: 2px;
  left: 52px;
}

.bar {
  width: 100%;
  height: 30px;
  background-color: #F2F2F2;
}

.shareBox {
  display: inline-block;
  font-size: 0;
  width: 49%;
}

.shareLogo {
  display: inline-block;
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: white;
}

#shareTwitter {
  margin-left: 20%;
  color: #4099FF;
}

#shareTwitter:hover {
  background-color: #4099FF;
  color: white;
}

#shareFacebook {
  color: #3B5998;
}

#shareFacebook:hover {
  background-color: #3B5998;
  color: white;
}

#sharePinterest {
  color: #CB2027;
}

#sharePinterest:hover {
  background-color: #CB2027;
  color: white;
}

#shareReddit {
  color: #FF5700;
}

#shareReddit:hover {
  background-color: #FF5700;
  color: white;
}

#sharePrint {
  color: #808080;
}

#sharePrint:hover {
  background-color: #808080;
  color: white;
}

.signup {
  background-color: #00B2FF;
  padding: 8px;
  margin-top: 10px;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  color: white;
}























/**/
