body {
  background-color: lightgrey;
}

img {
  width: 100%;
}

.content {
  width: calc(100% - 3.75rem);
  margin: 1.875rem 1.875rem 0 1.875rem;
  background-color: white;
}

.container {
  padding: 40px 1.875rem;
  max-width: 650px;
}

.authorInit {
  background-color: lightgrey;
  color: grey;
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.bar {
  width: 100%;
  height: 30px;
  background-color: lightgrey;
}

.shareBox {
  font-size: 0;
}

.shareLogo {
  display: inline-block;
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: white;
}

#shareTwitter {
  color: #4099FF;
}

#shareTwitter:hover {
  background-color: #4099FF;
  color: white;
}

#shareFacebook {
  color: #3B5998;
}

#shareFacebook:hover {
  background-color: #3B5998;
  color: white;
}

#sharePinterest {
  color: #CB2027;
}

#sharePinterest:hover {
  background-color: #CB2027;
  color: white;
}

#shareReddit {
  color: #FF5700;
}

#shareReddit:hover {
  background-color: #FF5700;
  color: white;
}

























/**/
